{% extends 'base.html' %}
{% block title %}View Order
{% endblock title %}
{% block content %}

<div id="cart-container">
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">View Orders</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}



  <hr>
  <h3 class="text-success" style="text-align: center;">Order Details</h3>
  <table class="table table-striped ml-3 mb-3" style="overflow-x: hidden;">
    <thead style="overflow-x: hidden;">
      <tr style="overflow-x: hidden;">
        <th style="overflow-x: hidden;" scope="col">#</th>
        <th style="overflow-x: hidden;" scope="col">Order ID</th>
        <th style="overflow-x: hidden;" scope="col">Bill</th>
        <th style="overflow-x: hidden;" scope="col">Paid</th>
        <th style="overflow-x: hidden;" scope="col">Order Status</th>
        <th style="overflow-x: hidden;" scope="col">Payment Status</th>
      </tr>
    </thead>
    <tbody style="overflow-x: hidden;">
      {% for order in orders %}
      <tr style="overflow-x: hidden;">
        <form style="overflow-x: hidden;" action="{% url 'order' order.id %}" method="POST">
          {% csrf_token %}
          <td style="overflow-x: hidden;">{{ forloop.counter }}</td>
          <td style="overflow-x: hidden;">{{ order.id }}</td>
          <td style="overflow-x: hidden;">{{ order.bill_amount }}</td>
          <td style="overflow-x: hidden;">{{ order.paid_amount }}</td>
          <td style="overflow-x: hidden;">{{ order.order_status }}</td>
          <td style="overflow-x: hidden;">{{ order.payment_status }}</td>
          <td style="overflow-x: hidden;">
            <button type="submit" class="btn btn-success">Details</button>
            <input type="hidden" name="order_id" value="{{order.id}}">
          </td>
        </form>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock content %}